/* Styles for the Map component */
ion-content {
    --background: #000000;
  }
  
  .ion-card-responsive img {
    width: 150%;
    height: auto;
    border-radius: 8px;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    color: #3c0aef; /* Blue  */
    border-bottom: 2px solid #ffff02;
    padding-bottom: 0.5rem;
  }
  
  ol {
    margin-left: 1rem;
    padding-left: 1rem;
    list-style-position: inside;
  }
  
  ol li {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    line-height: 1.4;
  }
  
  
  /* Media Queries for responsiveness */
  @media (min-width: 768px) {
    .ion-card-responsive img {
      max-width: 80%;
      margin: 0 auto;
      display: block;
    }
  
    h2 {
      font-size: 1.75rem;
    }
  
    ol li {
      font-size: 1.2rem;
    }
  }
  